<div class="fullpage-reset">
  <div class="reset-password-container">
    <h3 class="reset-title">Reset Password</h3>
    <form (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="mb-3">
        <label for="email" class="form-label">Email address:</label>
        <input type="email" [(ngModel)]="email" name="email" id="email" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="token" class="form-label">Reset Token:</label>
        <input type="text" [(ngModel)]="token" name="token" id="token" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="newPassword" class="form-label">New Password:</label>
        <input type="password" [(ngModel)]="newPassword" name="newPassword" id="newPassword" class="form-control"
          required>
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm New Password:</label>
        <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" id="confirmPassword"
          class="form-control" required>
      </div>
      <button type="submit" class="btn btn-danger" [disabled]="loading">Reset Password</button>
    </form>
    <div *ngIf="success" class="alert alert-success mt-3">{{ success }}</div>
    <div *ngIf="error" class="alert alert-danger mt-3">{{ error }}</div>
  </div>
</div>