<!-- <p>manage-employee works!</p> --->


<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <i class="fa fa-address-card-o" style="font-size:48px;color: #212529"></i>
        <h1 class="text-body-emphasis">Manage Employees</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            Efficiently manage all aspects of your workforce. This comprehensive tool allows you to Create, Read,
            Update, and Delete (CRUD) employee records with ease. Keep track of employee details, monitor performance,
            and ensure accurate record-keeping.
        </p>
        <div class="d-inline-flex gap-2 mb-5">
            <button routerLink="/manage-employee/add-employee" class="btn btn-primary btn-lg px-4 rounded-pill" type="button">
                Add Employee
            </button>
            <button routerLink="/manage-employee/view-employee" class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
                View Employee
            </button>
            <button routerLink="/manage-employee/update-employee" class="btn btn-secondary btn-lg px-4 rounded-pill" type="button">
                Update Employee
            </button>
            <button (click)="showForm('delete')" class="btn btn-danger btn-lg px-4 rounded-pill" type="button">
                Delete Employee
            </button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>






<!-- <div *ngIf="currentForm === 'add'">
    <app-manage-employee-add></app-manage-employee-add>
</div> -->
<!-- <div *ngIf="currentForm === 'view'">
    <app-view-employee></app-view-employee>
</div>
<div *ngIf="currentForm === 'update'">
    <app-update-employee></app-update-employee>
</div>
<div *ngIf="currentForm === 'delete'">
    <app-delete-employee></app-delete-employee>
</div>
 -->






















<!-- table -->
<!-- <div class="justify-content-center align-items-center container" >
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>twitter</td>
          </tr>
        </tbody>
    </table> -->