<!-- <p>manage-employee-view-id works!</p> -->
<!-- <p>manage-employee-add works!</p> -->

<div class="m-5 p-5 text-center bg-body-tertiary rounded-3 ">

    <form class="form-signin " [formGroup]="viewEmployeeForm" (ngSubmit)="onSubmit()">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"
            height="72">
        <h1 class="h3 mb-3 font-weight-normal">View Employee By Id</h1>

        <label for="employeeId" class="sr-only" name="employeeId">employeeId</label>
        <input type="text" id="employeeId" class="form-control" placeholder="Enter Employee Id" autofocus=""
            formControlName="EmployeeId">

        <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Get Details</button>
    </form>

    <div class="justify-content-center align-items-center container mt-3"  *ngIf="this.employee.name">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Address</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{this.employee.id}}</th>
                    <td>{{this.employee.name}}</td>
                    <td>{{this.employee.email}}</td>
                    <td>{{this.employee.address}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="small fs-2 fw-bold mt-2 pt-1 mb-0 text-danger">{{this.errorMessage}}</p>